
main{
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #e77f7f, #ff7272);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Cart-Container{
    width: 1200px;
    height: 850px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #ff626233;
}

.Header{
    margin: auto;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Heading{
    font-size: 30px;
    font-family: 'Open Sans';
    font-weight: 700;
    color: #2F3841;
}

.Action{
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
    border-bottom: 1px solid #E44C4C;
}

.Cart-Items{
    margin: auto;
    width: 800px;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-box{
    width: 200px;
    height: 275px;
    text-align: left;
}

.about{
    height: 300px;
    width: 600px;
    text-align: right;
}

.title{
    padding-top: 5px;
    line-height: 10px;
    font-size: 32px;
    font-family: 'Open Sans';
    font-weight: 800;
    color: #202020;
}

.subtitle{
    line-height: 10px;
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #909090;
}

.counter{
    width: 200px;
    display: flex;
    justify-content: space-between;
    text-align: right;
    align-items: center;
}

.btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 900;
    color: #202020;
    cursor: pointer;
}

.count{
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 900;
    color: #202020;
}

.prices{
    height: 300px;
    text-align: right;
}

.amount{
    padding-top: 20px;
    font-size: 26px;
    font-family: 'Open Sans';
    font-weight: 800;
    color: #202020;
}
.save{
    padding-top: 5px;
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #1687d9;
    cursor: pointer;
}
.remove{
    padding-top: 5px;
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
}

hr{
    width: 800px;
    float: right;
    margin-right: 5%;
}

.checkout{
    float: right;
    margin-right: 5%;
    width: 28%;
}

.total{
    width: 250px;
    display: block;
    justify-content: space-between;
}

.Subtotal{
    font-size: 22px;
    font-family: 'Open Sans';
    font-weight: 700;
    color: #202020;
}

.items{
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 500;
    color: #909090;
    line-height: 10px;
}

.total-amount{
    font-size: 32px;
    font-family: 'Open Sans';
    font-weight: 900;
    color: #202020;
}

.button{
    margin-top: 5px;
    width: 250px;
    height: 40px;
    border: none;
    background-color: #fdaaaa;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #202020;
}